@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');
body {
  margin: 0;
  
  font-family: 'TT Firs Neue Trl', sans-serif;
  font-family: 'TT Firs Neue Trial Var Roman', sans-serif;
 
  
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
